<div class="portlet-body form">

    <ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">首页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">日志管理</a>

								<i class="icon-angle-right"></i>

							</li>
                            <li>

								<a href="#">日志申请</a>

								<i class="icon-angle-right"></i>

							</li>
						</ul>

    <!-- BEGIN FORM-->

    <form action="/log/create" class="form-horizontal">

        <div class="control-group success">

            <label class="control-label" for="inputWarning">项目名字</label>

            <div class="controls">

                <input name="app_name" type="text" class="span6 m-wrap"  />

                
            </div>

        </div>

        <div class="control-group success">

            <label class="control-label" for="inputError">日志路径</label>

            <div class="controls">

                <input name="log_path" type="text" class="span6 m-wrap" />
            </div>

        </div>

        <div class="control-group success">

            <label class="control-label" for="inputSuccess">Topic</label>

            <div class="controls">

                <input name="topic" type="text" class="span6 m-wrap" />
            </div>

        </div>


        <div class="form-actions">

            <button type="submit" class="btn blue">Save</button>

            <button type="button" class="btn">Cancel</button>

        </div>

    </form>

    <!-- END FORM-->

</div>