<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

                <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="/app/list">首页</a> 

                <i class="icon-angle-right"></i>

            </li>

            <li>

                <a href="#">项目管理</a>

                <i class="icon-angle-right"></i>

            </li>

            <li><a href="#">项目列表</a></li>

        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN SAMPLE TABLE PORTLET-->

        <div class="portlet box red">

            <div class="portlet-body">

                    <tbody>

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>商品信息</div>

							</div>

							<div class="portlet-body form">

								<!-- BEGIN FORM-->

								<form action="/product/submit" class="form-horizontal">

									<div class="control-group">

										<label class="control-label">商品名称</label>

										<div class="controls">

											<input type="text" name="product_name" class="span6 m-wrap" />

											<span class="help-inline">请输入商品名称</span>

										</div>

									</div>

									<div class="control-group">

										<label class="control-label">商品数量</label>

										<div class="controls">

											<input class="span6 m-wrap" name="product_total" type="text" />

											<span class="help-inline">请输入商品数量</span>

										</div>

									</div>

									<div class="control-group">

										<label class="control-label">商品状态</label>

										<div class="controls">

											<input class="span6 m-wrap" name="product_status" type="text" />

											<span class="help-inline">请输入商品状态</span>

										</div>

									</div>


									<div class="form-actions">

										<button type="submit" class="btn blue">Submit</button>

										<button type="button" class="btn">Cancel</button>                            

									</div>

								</form>

								<!-- END FORM-->       

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

            </div>

        </div>

        <!-- END SAMPLE TABLE PORTLET-->

    </div>


    </div>

</div>

<!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER--> 

