<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

                <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="/app/list">首页</a> 

                <i class="icon-angle-right"></i>

            </li>

            <li>

                <a href="#">项目管理</a>

                <i class="icon-angle-right"></i>

            </li>

            <li><a href="#">项目列表</a></li>

        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN SAMPLE TABLE PORTLET-->

        <div class="portlet box red">

            <div class="portlet-body">

                    <tbody>

						<div class="portlet box blue">
	                    <div class="portlet-title">

                                    <div class="caption">创建活动出现错误!</div>

							</div>
							<div class="portlet-title">

                                    <div class="caption"><i class="icon-reorder"></i>{{.Error}}</div>

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

            </div>

        </div>

        <!-- END SAMPLE TABLE PORTLET-->

    </div>


    </div>

</div>

<!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER--> 

